<h1>REGISTER PARKING</h1>

<form [formGroup]="parkingLotForm">

    Veículo: <br />
    <input type="text" size= "40" formControlName = "vehicleParking"/>

    <div *ngIf = "parkingLotForm.controls.vehicleParking.invalid && parkingLotForm.controls.vehicleParking.touched">
        <div class = "error" *ngIf="parkingLotForm.controls.vehicleParking.errors?.required">
        Informe o veículo
        </div>
    </div>

    <br/>

    Placa: <br/>
    <input type="text" size= "40" formControlName = "plateParking"/>

    <div *ngIf = "parkingLotForm.controls.plateParking.invalid && parkingLotForm.controls.plateParking.touched">
        <div class = "error" *ngIf="parkingLotForm.controls.plateParking.errors?.required">
        Informe a placa do veículo
        </div>
        <div class = "error" *ngIf="parkingLotForm.controls.plateParking.errors?.minlength">
        A placa precisa conter 7 caracteres
        </div>
    </div>

    <br/>

    Motorista: <br/>
    <input type="text" size= "40" formControlName = "driverParking"/>
    
    <div *ngIf = "parkingLotForm.controls.driverParking.invalid && parkingLotForm.controls.driverParking.touched">
        <div class = "error" *ngIf="parkingLotForm.controls.driverParking.errors?.required">
        Informe o nome do motorista
        </div>
    </div>

    <br/>

    Telefone Contato: <br/>
    <input type="text" size= "40" formControlName = "phoneParking"/>

    <div *ngIf = "parkingLotForm.controls.phoneParking.invalid && parkingLotForm.controls.phoneParking.touched">
        <div class = "error" *ngIf="parkingLotForm.controls.phoneParking.errors?.required">
        Informe o número para contato
        </div>
    </div>

    <br/>

    <input type="button" value = "Salvar" (click) = "save()" [disabled] = "parkingLotForm.invalid"/>


    <div style="margin-top: 20px">
        <router-outlet></router-outlet>
    </div>

    </form>



  
