<div style="margin-top: 20px">
    <router-outlet></router-outlet>
</div>

<h1>LIST PARKING</h1>

<br /><br />
  <table border="1" style="width: 90%;">
      <thead>
          <tr>
              <th>Veículo</th>
              <th>Placa</th>
              <th>Motorista</th>
              <th>Entrada</th>
              <th>Saída</th>
              <th>Total</th>
              <th>Encerrar</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let c of allVehicles">
              <td>{{ c.vehicle }}</td>
              <td>{{ c.plate }}</td>
              <td>{{ c.driver }}</td>
              <td>{{ day | date:"dd:MM:YYYY 'ás' HH:mm " }}</td>
              <td>{{ c.endTime | date:"dd:MM:YYYY 'ás' HH:mm "}}</td>
              <td>{{ c.price }}</td>
              <td><input type="button" value = "Encerrar" (click) = "end()"/></td>
          </tr>
      </tbody>
  </table>
